VITE_CONTRACT_ADDRESS=0xBEe11FedD4C926254066bdFb757DF330D5Ae8b0B
VITE_CHAIN_ID=61997
VITE_CHAIN_NAME=GenLayer Studionet
VITE_RPC_URL=https://studio-dev.genlayer.com/api
VITE_EXPLORER_URL=https://explorer-studio-dev.genlayer.com/
